.header {
  padding: 8px 0;
  background-color: blue;
  display: flex;
  justify-content: center;
}

.form {
  position: relative;
}

.input {
  width: 250px;
  outline: 0px solid transparent;
}

.button {
  border: 0px solid transparent;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
